[submodule "third_party/opus"]
	path = third_party/opus
	url = https://github.com/xiph/opus.git
	shallow = true
[submodule "third_party/libxaac"]
	path = third_party/libxaac
	url = https://github.com/ittiam-systems/libxaac.git
	shallow = true
